In [2]:
from dotenv import load_dotenv
from sqlalchemy import create_engine
import os
import pandas as pd

load_dotenv(r"C:\Projects\storm_risk\.env")

engine = create_engine(
    f"mysql+mysqlconnector://{os.getenv('MYSQL_USER')}:{os.getenv('MYSQL_PASSWORD')}@{os.getenv('MYSQL_HOST')}/{os.getenv('MYSQL_DATABASE')}"
)

print("✅ Connected!")

✅ Connected!

In [3]:
import requests
import pandas as pd

# FEMA API base URL
base_url = "https://www.fema.gov/api/open/v2/DisasterDeclarationsSummaries"

all_records = []
skip = 0
page_size = 1000

print("Fetching FEMA data...")

while True:
    # Build the URL with pagination parameters
    url = f"{base_url}?$top={page_size}&$skip={skip}&$format=json"
    
    response = requests.get(url)
    data = response.json()
    
    # FEMA wraps records in a key called 'DisasterDeclarationsSummaries'
    records = data.get('DisasterDeclarationsSummaries', [])
    
    if not records:
        break  # no more pages, we're done
        
    all_records.extend(records)
    skip += page_size
    print(f"  Fetched {len(all_records)} records so far...")

# Convert to dataframe
fema_raw = pd.DataFrame(all_records)

print(f"\n✅ Done! Total records: {len(fema_raw)}")
print(f"Columns: {fema_raw.columns.tolist()}")
fema_raw.head()

Fetching FEMA data...
  Fetched 1000 records so far...
  Fetched 2000 records so far...
  Fetched 3000 records so far...
  Fetched 4000 records so far...
  Fetched 5000 records so far...
  Fetched 6000 records so far...
  Fetched 7000 records so far...
  Fetched 8000 records so far...
  Fetched 9000 records so far...
  Fetched 10000 records so far...
  Fetched 11000 records so far...
  Fetched 12000 records so far...
  Fetched 13000 records so far...
  Fetched 14000 records so far...
  Fetched 15000 records so far...
  Fetched 16000 records so far...
  Fetched 17000 records so far...
  Fetched 18000 records so far...
  Fetched 19000 records so far...
  Fetched 20000 records so far...
  Fetched 21000 records so far...
  Fetched 22000 records so far...
  Fetched 23000 records so far...
  Fetched 24000 records so far...
  Fetched 25000 records so far...
  Fetched 26000 records so far...
  Fetched 27000 records so far...
  Fetched 28000 records so far...
  Fetched 29000 records so far...
  Fetched 30000 records so far...
  Fetched 31000 records so far...
  Fetched 32000 records so far...
  Fetched 33000 records so far...
  Fetched 34000 records so far...
  Fetched 35000 records so far...
  Fetched 36000 records so far...
  Fetched 37000 records so far...
  Fetched 38000 records so far...
  Fetched 39000 records so far...
  Fetched 40000 records so far...
  Fetched 41000 records so far...
  Fetched 42000 records so far...
  Fetched 43000 records so far...
  Fetched 44000 records so far...
  Fetched 45000 records so far...
  Fetched 46000 records so far...
  Fetched 47000 records so far...
  Fetched 48000 records so far...
  Fetched 49000 records so far...
  Fetched 50000 records so far...
  Fetched 51000 records so far...
  Fetched 52000 records so far...
  Fetched 53000 records so far...
  Fetched 54000 records so far...
  Fetched 55000 records so far...
  Fetched 56000 records so far...
  Fetched 57000 records so far...
  Fetched 58000 records so far...
  Fetched 59000 records so far...
  Fetched 60000 records so far...
  Fetched 61000 records so far...
  Fetched 62000 records so far...
  Fetched 63000 records so far...
  Fetched 64000 records so far...
  Fetched 65000 records so far...
  Fetched 66000 records so far...
  Fetched 67000 records so far...
  Fetched 68000 records so far...
  Fetched 69000 records so far...
  Fetched 69634 records so far...

✅ Done! Total records: 69634
Columns: ['femaDeclarationString', 'disasterNumber', 'state', 'declarationType', 'declarationDate', 'fyDeclared', 'incidentType', 'declarationTitle', 'ihProgramDeclared', 'iaProgramDeclared', 'paProgramDeclared', 'hmProgramDeclared', 'incidentBeginDate', 'incidentEndDate', 'disasterCloseoutDate', 'tribalRequest', 'fipsStateCode', 'fipsCountyCode', 'placeCode', 'designatedArea', 'declarationRequestNumber', 'lastIAFilingDate', 'incidentId', 'region', 'designatedIncidentTypes', 'lastRefresh', 'hash', 'id']

,femaDeclarationString,disasterNumber,state,declarationType,declarationDate,fyDeclared,incidentType,declarationTitle,ihProgramDeclared,iaProgramDeclared,...,placeCode,designatedArea,declarationRequestNumber,lastIAFilingDate,incidentId,region,designatedIncidentTypes,lastRefresh,hash,id
0,FM-5529-OR,5529,OR,FM,2024-08-09T00:00:00.000Z,2024,Fire,LEE FALLS FIRE,False,False,...,99067,Washington (County),24122,NaN,2024081001,10,R,2024-08-27T18:22:14.800Z,ae87cf3c6ed795015b714af7166c7c295b2b67c7,09e3f81a-5e16-4b72-b317-1c64e0cfa59c
1,FM-5528-OR,5528,OR,FM,2024-08-06T00:00:00.000Z,2024,Fire,ELK LANE FIRE,False,False,...,99031,Jefferson (County),24116,NaN,2024080701,10,R,2024-08-27T18:22:14.800Z,432cf0995c47e3895cea696ede5621b810460501,59983f89-30bf-4888-b21b-62e8d57d9aac
2,FM-5527-OR,5527,OR,FM,2024-08-02T00:00:00.000Z,2024,Fire,MILE MARKER 132 FIRE,False,False,...,99017,Deschutes (County),24111,NaN,2024080301,10,R,2024-08-27T18:22:14.800Z,2f21d90cb6bc64b0d4121aa3f18d852bbb4b11fa,8d13ecf0-bc2f-496b-8c9f-b2e73da832a0
3,DR-4312-CA,4312,CA,DR,2017-05-02T00:00:00.000Z,2017,Severe Storm,FLOODING,False,False,...,60347,Resighini Rancheria (Indian Reservation),17035,NaN,2017041001,9,NaN,2025-03-26T20:21:32.579Z,432a3a64bdbb291ae26cf5a27a33deeabb380481,98a7c5bb-2346-45aa-a1ca-0399440d4f0b
4,DR-4251-AL,4251,AL,DR,2016-01-21T00:00:00.000Z,2016,Severe Storm,"SEVERE STORMS, TORNADOES, STRAIGHT-LINE WINDS,...",False,False,...,99001,Autauga (County),16003,NaN,2015122301,4,NaN,2025-03-27T12:21:46.559Z,dcd4ce6b37ee49875b3f1e32e9a8a16cd6a803d3,5229bbae-eee6-42b8-b277-edbafa8d6cb2

In [4]:
print(fema_raw.columns.tolist())

['femaDeclarationString', 'disasterNumber', 'state', 'declarationType', 'declarationDate', 'fyDeclared', 'incidentType', 'declarationTitle', 'ihProgramDeclared', 'iaProgramDeclared', 'paProgramDeclared', 'hmProgramDeclared', 'incidentBeginDate', 'incidentEndDate', 'disasterCloseoutDate', 'tribalRequest', 'fipsStateCode', 'fipsCountyCode', 'placeCode', 'designatedArea', 'declarationRequestNumber', 'lastIAFilingDate', 'incidentId', 'region', 'designatedIncidentTypes', 'lastRefresh', 'hash', 'id']

In [5]:
fema_raw.to_parquet(
    r"C:\Projects\storm_risk\data\raw\fema_disasters.parquet",
    index=False
)

print("✅ Raw data saved!")

✅ Raw data saved!

In [6]:
fema_clean = pd.DataFrame({
    'fips_code'        : (fema_raw['fipsStateCode'] + fema_raw['fipsCountyCode']).str.zfill(5),
    'disaster_number'  : fema_raw['disasterNumber'].astype(str),
    'declaration_date' : pd.to_datetime(fema_raw['declarationDate'], errors='coerce').dt.date,
    'disaster_type'    : fema_raw['declarationType'],
    'incident_type'    : fema_raw['incidentType'],
    'state'            : fema_raw['state'],
    'program_declared' : fema_raw['ihProgramDeclared'].astype(str)
})

# Drop rows where fips_code is null or malformed
fema_clean = fema_clean.dropna(subset=['fips_code', 'declaration_date'])
fema_clean = fema_clean[fema_clean['fips_code'].str.len() == 5]

print(f"Clean records: {len(fema_clean)}")
print(f"Date range: {fema_clean['declaration_date'].min()} to {fema_clean['declaration_date'].max()}")
fema_clean.head()

Clean records: 69634
Date range: 1953-05-02 to 2026-02-20

,fips_code,disaster_number,declaration_date,disaster_type,incident_type,state,program_declared
0,41067,5529,2024-08-09,FM,Fire,OR,False
1,41031,5528,2024-08-06,FM,Fire,OR,False
2,41017,5527,2024-08-02,FM,Fire,OR,False
3,06000,4312,2017-05-02,DR,Severe Storm,CA,False
4,01001,4251,2016-01-21,DR,Severe Storm,AL,False

In [7]:
print(fema_clean['incident_type'].value_counts().head(15))

incident_type
Severe Storm        19299
Hurricane           13721
Flood               11234
Biological           7857
Fire                 3853
Snowstorm            3707
Severe Ice Storm     2956
Tornado              1623
Drought              1292
Winter Storm         1224
Tropical Storm       1059
Coastal Storm         637
Other                 314
Freezing              301
Earthquake            228
Name: count, dtype: int64

In [8]:
counties = pd.DataFrame({
    'fips_code'   : fema_clean['fips_code'].unique()
})

# Split back into state and county components
counties['state_fips']  = counties['fips_code'].str[:2]
counties['county_fips'] = counties['fips_code'].str[2:]
counties['state_name']  = fema_clean.groupby('fips_code')['state'].first().values
counties['county_name'] = 'Unknown'  # we'll enrich this in a moment

counties = counties.dropna(subset=['fips_code'])
counties = counties[counties['fips_code'].str.len() == 5]

print(f"Unique counties: {len(counties)}")
counties.head()

Unique counties: 3324

  fips_code state_fips county_fips state_name county_name
0     41067         41         067         AL     Unknown
1     41031         41         031         AL     Unknown
2     41017         41         017         AL     Unknown
3     06000         06         000         AL     Unknown
4     01001         01         001         AL     Unknown

In [9]:
# Census Bureau county reference file
county_names_url = "https://www2.census.gov/geo/docs/reference/codes2020/national_county2020.txt"

county_ref = pd.read_csv(
    county_names_url,
    sep='|',
    dtype=str
)

print(county_ref.columns.tolist())
county_ref.head()

['STATE', 'STATEFP', 'COUNTYFP', 'COUNTYNS', 'COUNTYNAME', 'CLASSFP', 'FUNCSTAT']

  STATE STATEFP COUNTYFP  COUNTYNS      COUNTYNAME CLASSFP FUNCSTAT
0    AL      01      001  00161526  Autauga County      H1        A
1    AL      01      003  00161527  Baldwin County      H1        A
2    AL      01      005  00161528  Barbour County      H1        A
3    AL      01      007  00161529     Bibb County      H1        A
4    AL      01      009  00161530   Blount County      H1        A

In [10]:
# Build fips_code from Census file the same way we did for FEMA
county_ref['fips_code'] = county_ref['STATEFP'].str.zfill(2) + county_ref['COUNTYFP'].str.zfill(3)

# Merge real county names into our counties dataframe
counties = counties.merge(
    county_ref[['fips_code', 'COUNTYNAME', 'STATE']],
    on='fips_code',
    how='left'
)

# Use the real name where available, keep 'Unknown' where not
counties['county_name'] = counties['COUNTYNAME'].fillna('Unknown')
counties['state_name']  = counties['STATE'].fillna(counties['state_name'])

# Drop the extra columns we don't need
counties = counties.drop(columns=['COUNTYNAME', 'STATE'])

print(f"Counties with real names: {counties['county_name'].ne('Unknown').sum()}")
print(f"Counties still unknown: {counties['county_name'].eq('Unknown').sum()}")
counties.head(10)

Counties with real names: 3231
Counties still unknown: 93

  fips_code state_fips county_fips state_name        county_name
0     41067         41         067         OR  Washington County
1     41031         41         031         OR   Jefferson County
2     41017         41         017         OR   Deschutes County
3     06000         06         000         AL            Unknown
4     01001         01         001         AL     Autauga County
5     01005         01         005         AL     Barbour County
6     01009         01         009         AL      Blount County
7     01011         01         011         AL     Bullock County
8     01013         01         013         AL      Butler County
9     41001         41         001         OR       Baker County

In [14]:
from dotenv import load_dotenv
from sqlalchemy import create_engine
import os

load_dotenv(r"C:\Projects\storm_risk\.env")

engine = create_engine(
    "mysql+mysqlconnector://",
    connect_args={
        "host"    : os.getenv('MYSQL_HOST'),
        "user"    : os.getenv('MYSQL_USER'),
        "password": os.getenv('MYSQL_PASSWORD'),
        "database": os.getenv('MYSQL_DATABASE')
    }
)

print("✅ Connected!")

✅ Connected!

In [15]:
# Load counties first
counties.to_sql(
    name='counties',
    con=engine,
    if_exists='append',
    index=False,
    chunksize=500
)
print(f"✅ {len(counties)} counties loaded into MySQL!")

# Filter FEMA to valid FIPS only
valid_fips = set(counties['fips_code'])
fema_clean = fema_clean[fema_clean['fips_code'].isin(valid_fips)]
print(f"FEMA records after FIPS validation: {len(fema_clean)}")

# Load FEMA
fema_clean.to_sql(
    name='fema_disasters',
    con=engine,
    if_exists='append',
    index=False,
    chunksize=500
)
print(f"✅ {len(fema_clean)} FEMA disaster records loaded into MySQL!")

✅ 3324 counties loaded into MySQL!
FEMA records after FIPS validation: 69634
✅ 69634 FEMA disaster records loaded into MySQL!

In [16]:
counties_check = pd.read_sql("SELECT COUNT(*) as total FROM counties", engine)
fema_check     = pd.read_sql("SELECT COUNT(*) as total FROM fema_disasters", engine)

print(f"Counties in MySQL: {counties_check['total'].values[0]}")
print(f"FEMA records in MySQL: {fema_check['total'].values[0]}")

Counties in MySQL: 3324
FEMA records in MySQL: 69634