In [1]:
from dotenv import load_dotenv
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import os
import requests

load_dotenv(r"C:\Projects\storm_risk\.env")

engine = create_engine(
    "mysql+mysqlconnector://",
    connect_args={
        "host"    : os.getenv('MYSQL_HOST'),
        "user"    : os.getenv('MYSQL_USER'),
        "password": os.getenv('MYSQL_PASSWORD'),
        "database": os.getenv('MYSQL_DATABASE')
    }
)

print("✅ Connected!")

✅ Connected!

In [2]:
# Download the raw HURDAT2 file from NOAA
url = "https://www.nhc.noaa.gov/data/hurdat/hurdat2-1851-2023-051124.txt"

response = requests.get(url)
raw_text = response.text

# Split into lines
lines = raw_text.strip().split('\n')

print(f"Total lines in file: {len(lines)}")
print(f"\nFirst 20 lines:\n")
for line in lines[:20]:
    print(line)

Total lines in file: 56722

First 20 lines:

AL011851,            UNNAMED,     14,
18510625, 0000,  , HU, 28.0N,  94.8W,  80, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999
18510625, 0600,  , HU, 28.0N,  95.4W,  80, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999
18510625, 1200,  , HU, 28.0N,  96.0W,  80, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999
18510625, 1800,  , HU, 28.1N,  96.5W,  80, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999
18510625, 2100, L, HU, 28.2N,  96.8W,  80, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999
18510626, 0000,  , HU, 28.2N,  97.0W,  70, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999
18510626, 0600,  , TS, 28.3N,  97.6W,  60, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999
18510626, 1200,  , TS, 28.4N,  98.3W,  60, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999
18510626, 1800,  , TS, 28.6N,  98.9W,  50, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999
18510627, 0000,  , TS, 29.0N,  99.4W,  50, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999
18510627, 0600,  , TS, 29.5N,  99.8W,  40, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999
18510627, 1200,  , TS, 30.0N, 100.0W,  40, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999
18510627, 1800,  , TS, 30.5N, 100.1W,  40, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999
18510628, 0000,  , TS, 31.0N, 100.2W,  40, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999
AL021851,            UNNAMED,      1,
18510705, 1200,  , HU, 22.2N,  97.6W,  80, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999
AL031851,            UNNAMED,      1,
18510710, 1200,  , TS, 12.0N,  60.0W,  50, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999
AL041851,            UNNAMED,     49,

In [3]:
storms = []
current_storm_id   = None
current_storm_name = None

for line in lines:
    parts = [p.strip() for p in line.split(',')]
    
    # Header row has storm ID starting with AL, EP, or CP
    if parts[0].startswith(('AL','EP','CP')):
        current_storm_id   = parts[0]
        current_storm_name = parts[1]
    else:
        # Data row
        try:
            date_str  = parts[0].strip()
            time_str  = parts[1].strip().zfill(4)
            
            # Parse lat/lon
            lat_str   = parts[4].strip()
            lon_str   = parts[5].strip()
            
            lat = float(lat_str[:-1]) * (1 if lat_str[-1] == 'N' else -1)
            lon = float(lon_str[:-1]) * (-1 if lon_str[-1] == 'W' else 1)
            
            wind_speed = int(parts[6].strip())
            
            # Skip missing wind speed
            if wind_speed == -999:
                continue
                
            storms.append({
                'storm_id'  : current_storm_id,
                'storm_name': current_storm_name,
                'date'      : pd.to_datetime(date_str, format='%Y%m%d'),
                'latitude'  : lat,
                'longitude' : lon,
                'wind_speed': wind_speed
            })
        except:
            continue

hurdat = pd.DataFrame(storms)

print(f"Total storm observations parsed: {len(hurdat)}")
print(f"Unique storms: {hurdat['storm_id'].nunique()}")
print(f"Date range: {hurdat['date'].min()} to {hurdat['date'].max()}")
hurdat.head(10)

Total storm observations parsed: 54749
Unique storms: 1973
Date range: 1851-06-25 00:00:00 to 2023-10-31 00:00:00

   storm_id storm_name       date  latitude  longitude  wind_speed
0  AL011851    UNNAMED 1851-06-25      28.0      -94.8          80
1  AL011851    UNNAMED 1851-06-25      28.0      -95.4          80
2  AL011851    UNNAMED 1851-06-25      28.0      -96.0          80
3  AL011851    UNNAMED 1851-06-25      28.1      -96.5          80
4  AL011851    UNNAMED 1851-06-25      28.2      -96.8          80
5  AL011851    UNNAMED 1851-06-26      28.2      -97.0          70
6  AL011851    UNNAMED 1851-06-26      28.3      -97.6          60
7  AL011851    UNNAMED 1851-06-26      28.4      -98.3          60
8  AL011851    UNNAMED 1851-06-26      28.6      -98.9          50
9  AL011851    UNNAMED 1851-06-27      29.0      -99.4          50

In [4]:
# Pull counties from MySQL with their FIPS codes
counties = pd.read_sql("SELECT fips_code, state_name FROM counties", engine)

# We need lat/lon centroids for each county
# Load from the Census GeoJSON which has this built in
import requests

geojson_url = "https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json"
geojson = requests.get(geojson_url).json()

# Extract centroid for each county from GeoJSON
centroids = []
for feature in geojson['features']:
    fips = feature['id']
    coords = feature['geometry']['coordinates']
    
    # Handle both Polygon and MultiPolygon
    try:
        if feature['geometry']['type'] == 'Polygon':
            all_coords = coords[0]
        else:
            all_coords = coords[0][0]
            
        lats = [c[1] for c in all_coords]
        lons = [c[0] for c in all_coords]
        
        centroids.append({
            'fips_code': fips.zfill(5),
            'lat'      : np.mean(lats),
            'lon'      : np.mean(lons)
        })
    except:
        continue

centroids_df = pd.DataFrame(centroids)
print(f"County centroids loaded: {len(centroids_df)}")
centroids_df.head()

County centroids loaded: 3221

  fips_code        lat        lon
0     01001  32.508438 -86.658643
1     01009  33.950498 -86.634968
2     01017  32.892438 -85.264489
3     01021  32.840318 -86.697518
4     01033  34.712311 -87.873360

In [5]:
# Find counties in MySQL that have no GeoJSON centroid
mysql_fips  = set(counties['fips_code'])
geojson_fips = set(centroids_df['fips_code'])

missing_fips = mysql_fips - geojson_fips

# Pull full county info for missing ones
missing_counties = pd.read_sql(
    f"""
    SELECT fips_code, county_name, state_name 
    FROM counties 
    WHERE fips_code IN ({','.join([f"'{f}'" for f in missing_fips])})
    ORDER BY state_name, county_name
    """,
    engine
)

print(f"Counties in MySQL:        {len(mysql_fips)}")
print(f"Counties with GeoJSON:    {len(geojson_fips)}")
print(f"Counties missing GeoJSON: {len(missing_fips)}")
print(f"\nMissing counties:\n")
print(missing_counties.to_string(index=False))

Counties in MySQL:        3324
Counties with GeoJSON:    3221
Counties missing GeoJSON: 103

Missing counties:

fips_code                   county_name state_name
    02158          Kusilvak Census Area         AK
    16000                       Unknown         AK
    06000                       Unknown         AL
    04000                       Unknown         AR
    41000                       Unknown         AR
    60010              Eastern District         AS
    60020               Manu'a District         AS
    60030                   Rose Island         AS
    60040                 Swains Island         AS
    60050              Western District         AS
    30000                       Unknown         AZ
    53000                       Unknown         AZ
    08000                       Unknown         CO
    40000                       Unknown         CT
    35000                       Unknown         GA
    66010                          Guam         GU
    46000                       Unknown         IL
    12000                       Unknown         KS
    27000                       Unknown         KY
    60000                       Unknown         KY
    09000                       Unknown         MI
    01000                       Unknown         MO
    28000                       Unknown         MO
    38000                       Unknown         MO
    44000                       Unknown         MO
    69085 Northern Islands Municipality         MP
    69100             Rota Municipality         MP
    69110           Saipan Municipality         MP
    69120           Tinian Municipality         MP
    02000                       Unknown         NC
    02201                       Unknown         NC
    49000                       Unknown         ND
    19000                       Unknown         NM
    02280                       Unknown         NV
    56000                       Unknown         NY
    23000                       Unknown         OH
    31000                       Unknown         OH
    32000                       Unknown         OH
    55000                       Unknown         OH
    05000                       Unknown         OK
    18000                       Unknown         PA
    11000                       Unknown         PR
    15000                       Unknown         PR
    21000                       Unknown         PR
    29000                       Unknown         PR
    39000                       Unknown         PR
    42000                       Unknown         PR
    45000                       Unknown         PR
    47000                       Unknown         PR
    50000                       Unknown         PR
    54000                       Unknown         PR
    64000                       Unknown         PR
    64002                       Unknown         PR
    64005                       Unknown         PR
    64040                       Unknown         PR
    64060                       Unknown         PR
    66000                       Unknown         PR
    68000                       Unknown         PR
    68010                       Unknown         PR
    68030                       Unknown         PR
    68040                       Unknown         PR
    68070                       Unknown         PR
    68080                       Unknown         PR
    68090                       Unknown         PR
    68110                       Unknown         PR
    68120                       Unknown         PR
    68140                       Unknown         PR
    68150                       Unknown         PR
    68160                       Unknown         PR
    68170                       Unknown         PR
    68180                       Unknown         PR
    68190                       Unknown         PR
    68300                       Unknown         PR
    68310                       Unknown         PR
    68320                       Unknown         PR
    68330                       Unknown         PR
    68340                       Unknown         PR
    68390                       Unknown         PR
    68400                       Unknown         PR
    68410                       Unknown         PR
    68420                       Unknown         PR
    68430                       Unknown         PR
    70000                       Unknown         PR
    72000                       Unknown         PR
    78000                       Unknown         PR
    36000                       Unknown         PW
    51000                       Unknown         SD
    69010                       Unknown         TN
    13000                       Unknown         TX
    20000                       Unknown         TX
    26000                       Unknown         VA
    78010              St. Croix Island         VI
    78020               St. John Island         VI
    78030             St. Thomas Island         VI
    10000                       Unknown         VI
    17000                       Unknown         VI
    24000                       Unknown         VI
    33000                       Unknown         VI
    25000                       Unknown         VT
    34000                       Unknown         WI
    37000                       Unknown         WI
    22000                       Unknown         WY
    48000                       Unknown         WY

In [6]:
from math import radians, sin, cos, sqrt, atan2

def haversine_distance(lat1, lon1, lat2, lon2):
    """Calculate distance in miles between two lat/lon points"""
    R = 3959  # Earth radius in miles
    
    lat1, lon1, lat2, lon2 = map(radians, [lat1, lon1, lat2, lon2])
    
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * atan2(sqrt(a), sqrt(1-a))
    
    return R * c

# Test it - distance from Miami to New York should be ~1280 miles
test = haversine_distance(25.77, -80.19, 40.71, -74.00)
print(f"Miami to New York: {test:.0f} miles (should be ~1280)")

Miami to New York: 1092 miles (should be ~1280)

In [7]:
# Test with more precise coordinates
# Miami International Airport vs JFK Airport
test1 = haversine_distance(25.7959, -80.2870, 40.6413, -73.7781)
print(f"Miami Airport to JFK: {test1:.0f} miles (should be ~1,090)")

# The ~1280 figure is actually driving distance, not straight line!
# Straight line (as the crow flies) Miami to NYC is ~1,090 miles
# 1,280 is the driving distance - our formula is correct!
print(f"\n✅ Formula is correct - 1,090 miles is the straight line distance")
print(f"The 1,280 figure is driving distance which follows roads, not a straight line")

Miami Airport to JFK: 1092 miles (should be ~1,090)

✅ Formula is correct - 1,090 miles is the straight line distance
The 1,280 figure is driving distance which follows roads, not a straight line

In [9]:
import numpy as np

RADIUS_MILES = 150

# Convert everything to numpy arrays for fast vectorized math
county_lats = centroids_df['lat'].values
county_lons = centroids_df['lon'].values
county_fips = centroids_df['fips_code'].values

county_hits = []

total = len(hurdat)

for i, storm_row in hurdat.iterrows():
    if i % 5000 == 0:
        print(f"Processing row {i} of {total}...")

    # Vectorized haversine - calculates distance to ALL counties at once
    R = 3959
    lat1 = np.radians(storm_row['latitude'])
    lon1 = np.radians(storm_row['longitude'])
    lat2 = np.radians(county_lats)
    lon2 = np.radians(county_lons)

    dlat = lat2 - lat1
    dlon = lon2 - lon1

    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    distances = 2 * R * np.arctan2(np.sqrt(a), np.sqrt(1-a))

    # Find counties within radius
    nearby = np.where(distances <= RADIUS_MILES)[0]

    for idx in nearby:
        county_hits.append({
            'fips_code' : county_fips[idx],
            'storm_id'  : storm_row['storm_id'],
            'wind_speed': storm_row['wind_speed'],
            'distance'  : distances[idx]
        })

hits_df = pd.DataFrame(county_hits)
print(f"\n✅ Done!")
print(f"Total county-storm hits: {len(hits_df)}")
hits_df.head(10)

Processing row 0 of 54749...
Processing row 5000 of 54749...
Processing row 10000 of 54749...
Processing row 15000 of 54749...
Processing row 20000 of 54749...
Processing row 25000 of 54749...
Processing row 30000 of 54749...
Processing row 35000 of 54749...
Processing row 40000 of 54749...
Processing row 45000 of 54749...
Processing row 50000 of 54749...

✅ Done!
Total county-storm hits: 504398

  fips_code  storm_id  wind_speed    distance
0     48469  AL011851          80  140.535922
1     48039  AL011851          80   93.421665
2     48481  AL011851          80  121.732291
3     48089  AL011851          80  148.995514
4     48157  AL011851          80  119.344981
5     48201  AL011851          80  119.585093
6     48239  AL011851          80  124.010988
7     48391  AL011851          80  133.733776
8     48007  AL011851          80  130.185358
9     48057  AL011851          80  115.749630

In [10]:
# Aggregate hits by county
susceptibility = hits_df.groupby('fips_code').agg(
    storm_count    = ('storm_id',   'nunique'),  # unique storms that hit
    avg_wind_speed = ('wind_speed', 'mean')      # average wind speed
).reset_index()

# Normalize to 0-1 scale
susceptibility['susceptibility_score'] = (
    susceptibility['storm_count'] * susceptibility['avg_wind_speed']
)

# Normalize to 0-1
min_val = susceptibility['susceptibility_score'].min()
max_val = susceptibility['susceptibility_score'].max()

susceptibility['susceptibility_score'] = (
    (susceptibility['susceptibility_score'] - min_val) / (max_val - min_val)
)

print(f"Counties with hurricane susceptibility: {len(susceptibility)}")
print(f"\nTop 10 most susceptible counties:")
print(
    susceptibility.sort_values('susceptibility_score', ascending=False)
    .head(10)
    .to_string(index=False)
)

Counties with hurricane susceptibility: 2557

Top 10 most susceptible counties:
fips_code  storm_count  avg_wind_speed  susceptibility_score
    37055          285       54.724654              1.000000
    37031          281       53.122748              0.957049
    37095          276       53.034568              0.938434
    37137          274       52.377404              0.920064
    37129          269       51.461625              0.887436
    37177          263       52.495845              0.885076
    37133          262       51.377962              0.862903
    37141          260       51.446321              0.857447
    37019          263       50.572738              0.852605
    37049          251       51.371501              0.826516

In [11]:
# Pull county names for top 20 to verify they make geographic sense
top20 = susceptibility.sort_values('susceptibility_score', ascending=False).head(20)

top20_named = top20.merge(
    pd.read_sql("SELECT fips_code, county_name, state_name FROM counties", engine),
    on='fips_code',
    how='left'
)

print(top20_named[['fips_code','county_name','state_name','storm_count','susceptibility_score']].to_string(index=False))

fips_code         county_name state_name  storm_count  susceptibility_score
    37055         Dare County         NC          285              1.000000
    37031     Carteret County         NC          281              0.957049
    37095         Hyde County         NC          276              0.938434
    37137      Pamlico County         NC          274              0.920064
    37129  New Hanover County         NC          269              0.887436
    37177      Tyrrell County         NC          263              0.885076
    37133       Onslow County         NC          262              0.862903
    37141       Pender County         NC          260              0.857447
    37019    Brunswick County         NC          263              0.852605
    37049       Craven County         NC          251              0.826516
    12085       Martin County         FL          231              0.822577
    37013     Beaufort County         NC          249              0.820244
    12111    St. Lucie County         FL          233              0.811019
    45019   Charleston County         SC          252              0.809825
    37187   Washington County         NC          240              0.794970
    37053    Currituck County         NC          240              0.792637
    37103        Jones County         NC          242              0.789462
    45051        Horry County         SC          245              0.789138
    12061 Indian River County         FL          233              0.786691
    37047     Columbus County         NC          246              0.786147

In [12]:
# Only keep counties that exist in our counties table
valid_fips = pd.read_sql("SELECT fips_code FROM counties", engine)['fips_code'].tolist()

susceptibility_clean = susceptibility[susceptibility['fips_code'].isin(valid_fips)]

print(f"Counties to load: {len(susceptibility_clean)}")

susceptibility_clean.to_sql(
    name='hurricane_susceptibility',
    con=engine,
    if_exists='append',
    index=False,
    chunksize=500
)

print(f"✅ {len(susceptibility_clean)} county susceptibility scores loaded into MySQL!")

Counties to load: 2557
✅ 2557 county susceptibility scores loaded into MySQL!

In [13]:
check = pd.read_sql("""
    SELECT 
        COUNT(*)                    as total_counties,
        ROUND(AVG(susceptibility_score), 4)  as avg_score,
        ROUND(MAX(susceptibility_score), 4)  as max_score,
        SUM(CASE WHEN susceptibility_score > 0.5 THEN 1 ELSE 0 END) as high_risk_counties
    FROM hurricane_susceptibility
""", engine)

print(check.to_string(index=False))

 total_counties  avg_score  max_score  high_risk_counties
           2557     0.1789        1.0               284.0